body {
  background-color: rgb(82, 131, 131);
  display: flex;
  justify-content: center;
}
.container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(64, 53, 165);
  width: 800px;
  height: 50px;
  border-radius: 12px;
  padding: 30px;
  font-weight: bold;
  color: white;
  font-size: 30px;

}